*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.gitmodules filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.ans filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
/Q/QML[[:space:]]Course/LICENSE_CODE filter=lfs diff=lfs merge=lfs -text
/Q/QML[[:space:]]Course/LICENSE_TEXT filter=lfs diff=lfs merge=lfs -text
/Q/QML[[:space:]]Course/coding_assignments/solutions/LICENSE_CODE filter=lfs diff=lfs merge=lfs -text
/Q/QML[[:space:]]Course/coding_assignments/solutions/LICENSE_TEXT filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
/QC_seminar_at_CQuERE/LICENSE filter=lfs diff=lfs merge=lfs -text
/quantum-computing-course2021/LICENSE filter=lfs diff=lfs merge=lfs -text
/quantum_computing_course2023/Codes/Readme filter=lfs diff=lfs merge=lfs -text
/quantum_computing_course2023/LICENSE filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
/quantum_computing_course2023/Slides/Supplementary[[:space:]]Slides/Readme filter=lfs diff=lfs merge=lfs -text
*. Gangopadhyay's slides filter=lfs diff=lfs merge=lfs -text
